<html>
    <head>
        <title>
            Barcode Reader
        </title>
        <link rel="shortcut icon" href="img/logo_br.png">
        <link rel="stylesheet" href="css/index.css" >
    </head>
    <body>
        <header>
           <center><h2 class="headtext">Barcode Reader</h2></center> 
        </header>
        <div class="centerbody">
            <center><h2 id="paired" class ="pd" data-th-text="${message}">No Paired Devices</h2></center>
            <div>
                <button id="b1" onClick="pair()" class="pair">Pair device</button>
                <button id="b2" onClick="shutdown()" class="exit">Server Shutdown</button>
            </div>
            <center><img src="img/Correct.png" id ="status" height=50 width=50 class="status"></center>
        </div>
        <script>
            function pair(){
                document.getElementById("status").src = "img/Loading.webp";
                fetch("http://localhost:8080/pair",{ method: 'GET', mode: 'cors'}) 
                .then(function (response) {
                    response.json().then(function(data){
                        if(data.message=="Success"){
                            console.log('Success:', data);
                            if(document.getElementById("paired").innerHTML.charAt(0) =='N'){
                                document.getElementById("paired").innerHTML = "1 Paired Devices";
                            }else{
                                var numb = document.getElementById("paired").innerHTML.match(/\d/g);
                                numb = numb.join("");
                                numb=parseInt(numb)+1
                                document.getElementById("paired").innerHTML = numb+" Paired Devices";
                            }
                            document.getElementById("status").src = "img/Correct.png";
                        }else{
                            document.getElementById("status").src = "img/Error.png";
                        }
                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
                            document.getElementById("status").src = "img/Error.png";
                });
            }
            function shutdown(){
                document.getElementById("status").src = "img/Loading.webp";
                fetch("http://localhost:8080/actuator/shutdown",{ method: 'POST', mode: 'cors'}) 
                .then(function (response) {
                    response.json().then(function(data){
                        console.log('Success:', data);
                        document.getElementById("paired").innerHTML = "Server not Running";
                        document.getElementById("status").src = "img/Disc.png";
                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
                            document.getElementById("status").src = "img/Error.png";
                });
            }
        </script>
    </body>
</html>